altgraph==0.17.4
asgiref==3.7.2
bottle==0.13.3
click==8.1.7
Django==4.2.20
joblib==1.4.0
macholib==1.16.3
mysql-connector-python==9.0.0
nltk==3.8.1
numpy==1.24.4
packaging==25.0
pandas==2.2.2
proxy-tools==0.1.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-Security==11.0
pyobjc-framework-WebKit==11.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywebview==5.4
regex==2023.12.25
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
whitenoise==6.9.0
