body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f0;
}

.container {
    display: flex;
    height: 100vh;
}

.side-menu {
    width: 250px;
    background-color: #f0e6cc;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line */
}

.site-title {
    margin: 0;
    font-size: 1.5em;
    color: #2c2c2c;
}

.language-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Courier New', monospace; /* Use the secondary font */
    font-size: 16px;
}

.language-toggle a {
    text-decoration: none;
    color: #2c2c2c;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.language-toggle a.active {
    text-decoration: underline;
    font-weight: bold;
}

.language-toggle a:hover {
    color: #bfa76f;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    color: #2c2c2c;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.side-menu ul li a:hover {
    color: #bfa76f;
    background-color: #e6d9b3;
    transform: scale(1.05);
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    padding: 40px;
    background-color: #fff;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-post {
    margin-bottom: 40px;
}

.social-media {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 210px; /* Adjust to ensure it stays within the sidebar */
}

.social-icon {
    color: #2c2c2c;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #bfa76f;
    transform: scale(1.1);
}

/* Existing styles above */

.typing {
    border-right: 2px solid #2c2c2c;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.deleting {
    border-right: 2px solid #2c2c2c;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    transition: width 0.4s steps(10), opacity 0.4s ease;
}

.typing-effect {
    animation: typing 2s steps(20) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
