<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einstein SGA Ranked-Choice Voting</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'ballotquery/css/dark-theme.css' %}">
    <script src="{% static 'ballotquery/js/form-ajax.js' %}"></script>

    <script>
        function copyResultsToClipboard() {
            const resultsContent = document.getElementById('results-container').innerText;
            navigator.clipboard.writeText(resultsContent).then(function() {
                alert('Results copied to clipboard!');
            }).catch(function(err) {
                alert('Error copying text: ', err);
            });
        }
    </script>
    
</head>

<body>
    <header>
        <img src="{% static 'ballotquery/images/aehs-logo.png' %}" alt="MCR-SGA Logo">
        <h1>Einstein SGA Ranked-Choice Voting</h1>
    </header>

    <main>
        <section id="info-section">
            <h2>Information</h2>
            <p>
                Test.
            </p>
        </section>

        <section id="upload-section">
            <h2>Upload CSV File</h2>
            <form id="upload-form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="file" id="csv-file" accept=".csv" required>
                <button type="submit">Upload</button>
            </form>
        </section>

        <section>
            <button onclick="copyResultsToClipboard()">Copy Results to Clipboard</button>
        </section>

        <section id="results-section">
            <h2>Results</h2>
            <div id="results-container">
                <!-- Results will be displayed here -->
            </div>
        </section>
    </main>

    <footer>
        <p>Made with 🤍 by Brayden Miller for Einstein SGA</p>
    </footer>

</body>

</html>
